*
{
    text-align: center;
    color: rgb(57, 30, 58);
    background-color: rgb(223, 230, 205);
    margin-top: 2%;
}
.ddt
{
border-style: inset;
border-radius: 25px;
margin-right: 25%;
margin-left: 25%;
background-color: rgb(219, 244, 155);
}


.tej
{
    font-style: italic;
    font-size: 50px;
   

}
.ram
{
border-radius: 15px;
}
button:hover{
    border: 5px solid black;
    color: white;
    background-color: black;
    
}